@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=MuseoModerno&family=Nunito+Sans:opsz,wght@6..12,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

.body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.intro{
    position:relative;
    top: 26%;
    right: -136px;
}
.intro h1{
    font-family: 'Nunito Sans';
    font-size: 50px;
    color: black;
    font-weight: 300;
    padding: 8px 1%;
    text-align:justify;
    margin-block: -6px;
}
.intro h2{
    font-family: 'Nunito Sans';
    font-size: 15px;
    color: rgb(71, 71, 71);
    font-weight: 150px;
    padding: 1px -50%;
    top: 90%;
    margin-left: 6px;
    

}
.intro h3{
    font-family: 'Nunito Sans';
    font-size: 20px;
    color: black;
    font-weight: 300;
    padding: -7px 1%;
    margin-top: -1%;
    margin-left: 6px;
}
.pro{
        width: 401px;
        position: absolute;
        top: -190px;
        left: -250px;
}
  